
<div class="hello">

    <h1>{{package.name}}</h1>
    <p>{{package.client}} {{package.project}}</p>
    <p>{{package.version}} - {{now "%m/%d/%Y %H:%M:%S"}}</p>
    <div class="links">
        <a href="http://aerolab.co"><i class="icon icon_aerolab"></i></a>
        <a href="https://github.com/sbehrends/grunt-full-landing"><i class="icon icon_github"></i></a>
    </div>
</div>
